{
	"presets": [
		["@babel/preset-env", {
			"modules": "commonjs",
			"targets": {
				"node": "current"
			}
		}],
	 	["@babel/preset-react"]
	],
	"plugins": ["transform-object-assign", "@babel/plugin-proposal-class-properties"]
}
